* {
	box-sizing: border-box;
}

body {
    margin : 0px;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    background-color: #F4F7F6; 
    /* background:transparent; */
}

/* HEADER */
header {
    text-align: center;
    background-color: #1d1d1d;
    text-decoration-color: red;
    width : 100%;
    margin : 0px;
    margin-bottom: 0px;
}

header figure {
    margin-bottom: 0px;
}

section {
    text-align: center;
    padding-bottom: 20px;
}

header h1 {
    color : #ffffff;
    font-size: 2.5em;  /* ceci est un commentaire */
    font-family: 'Indie Flower', cursive;
    text-align: center;
    opacity : 1.0;
    margin-top : 0px;
    padding-top: 30px;
}
header h2 {
    color : white;
    font-size: 1.5em;  /* ceci est un commentaire */
    font-family: 'Indie Flower', cursive;
    text-align: center;
    width : 90%;
    margin: auto;
}

nav li {
    color : black;
    list-style-type: none;
    display: inline;
    margin: 10px;
}

nav a {
    color : black;
}

ul {
    padding: 5px;
    margin-top: px;
    /* display: inline; */
}

nav a {
    text-decoration: none;
}

nav {
    color : black;
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.5);
    text-align: center;
    font-size: 1.1em;
    clear: both;
    margin-top: 0px;
	padding : 15px;
}

/* Mettre la police en gras au survol d'un élément du menu : */
nav li:hover {
    transition : 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    /* font-size: 1.2em; */
    text-shadow: 2px 2px 2px grey;
    display: inline;
}

/* CONTENU DE LA PAGE */
h3::before {
    content:  "«";
    color : grey;
    /* width:90%; */
}

h3 {
    font-weight: bold;
    font-size: 1.5em;
    /* clear: both; */
    text-align: center;
}

h3::after {
    content:  "»";
    color : grey;
}

.intro {
	font-size: 1.7em; 
    text-align : justify;
    line-height: 1.5em;
    /* word-spacing: 0.3em; */
	width : 80%;
	margin : auto;
}

p {
    margin-bottom: 6; 
}
/* Pour  faire un retrait de 1ère ligne */
/* dans les introductions des séances : */
p + p {
    text-indent: 1.5em;
    margin-top: 0;
}


iframe {
    justify-content : center;
    /* width : 300px;  */
	display : block;
	margin : auto;
	border-radius : 5px;
	box-shadow : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#MMs {
	display : flex;
	flex-wrap : wrap;
	justify-content : center;
}

.MM  {
	margin : 30px;
	display : inline-block;
	background : white;
    padding-bottom : 5px;
    border: 0px black solid;
	border-radius : 10px;
    overflow : hidden;
    box-shadow:  9px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.MM ul {
    text-align: center;
    font-size: 2em;
} 

.picture-project p {
    text-align: center; font-size: 1.5em;padding:0px 20px;
}

.video-container {
    position: relative;
    padding-bottom: 52.25%; /* ratio 16/9 */
    height: 0; overflow: hidden;
    clear: both;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;
    justify-content: center;
    text-align: center;
}


#contact {
	width : 80%;
    margin : auto;
    display: block;
    border : 2px black solid;
    border-radius: 15px;
    padding : 30px;
    margin-bottom : 50px;
    box-shadow: 5px 5px 5px grey; 
    background-image: radial-gradient(circle at 61.19% 8.26%, #ffffff 0, #becae5 50%, #5e7bad 100%);
}

/* FOOTER */
footer {
    background-color: #1d1d1d;
    color : white;
    text-align: center;
	 padding : 15px;
}

/* RESPONSIVE DESIGN */
@media only screen and (min-width: 559px) and (max-width: 767px) {
    /* HEADER */
    nav {
        font-size: 1.5em;
    }

     /* CONTENU DE LA PAGE */
     .intro {
        font-size: 1.5em; 
        line-height: 1.5em;
        width : 90%;
    }

    .picture-project p {
        text-align: center; font-size: 1.3em;padding:0px 20px;
    }

    .MM  {
        margin : 10px;
      }
    
    .MM ul {
        font-size: 1.8em;
        margin: 8px auto;
    } 

    .video-container {
        position: relative;
        padding-bottom: 66.25%; 
        /* ratio 16/9 */
        height: 0; overflow: hidden;
        clear: both;
    }
    
}

@media only screen and (max-width: 558px) {
    /* HEADER */
    header h2 {width : 90%;}
  
    /* CONTENU DE LA PAGE */
    .intro {
        font-size: 1.3em; 
        line-height: 1.3em;
        width : 90%;
    }

    .picture-project p {
        text-align: center; font-size: 1.3em;padding:0px 20px;
    }

    .MM  {
        margin : 10px;
      }
    
    .MM ul {
        font-size: 1.7em;
        margin: 5px auto;
    } 

    span.facultatif {display: none;}
    
    .video-container {
        position: relative;
        padding-bottom: 66.25%; 
        /* ratio 16/9 */
        height: 0; overflow: hidden;
        clear: both;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        left: 5%;
        width: 90%; /* avec le left 5% : 5% + 90% + 5% */
        height: 100%;
    }
}
