body {
    margin : 0px;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    background-color: #F4F7F6; 
}


/* HEADER */
header {
    text-align: center;
    background-color: #1d1d1d;
    text-decoration-color: red;
    width : 100%;
    margin : 0px;
    margin-bottom: 0px;
}

header figure {
    margin-bottom: 0px;
}

h1 {
    color : #ffffff;
    font-size: 2.5em;  /* ceci est un commentaire */
    font-family: 'Indie Flower', cursive;
    text-align: center;
    opacity : 1.0;
    margin-top : 0px;
    padding-top: 30px;
}

.separator {
	width : 40px;
	height : 1px;
    margin : 15px auto;
	display : block;
	background-color : #999999;
	}

h2 {
    color : white;
    font-size: 1.5em;  /* ceci est un commentaire */
    font-family: 'Indie Flower', cursive;
    text-align: center;
    width : 90%;
    margin: auto;
}

#logo {
    vertical-align: middle;
    margin-top: 35px;
    width : 50px;
    padding-bottom: 30px;
    /* float: left; */
}

/* NAVIGATION */
a {
    text-decoration: none;
}

nav li {
    color : black;
    list-style-type: none;
    display: inline;
    margin: 10px;
}

nav a {
    color : black;
}

ul {
    padding: 5px;
    margin-top: px;
    /* display: inline; */
}

nav {
    color : black;
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0,0,0,0.5);
    text-align: center;
    font-size: 1.1em;
    clear: both;
    margin-top: 0px;
	padding : 15px;
}

/* Mettre la police en gras au survol d'un élément du menu : */
nav li:hover {
    transition : 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    /* font-size: 1.2em; */
    text-shadow: 2px 2px 2px grey;
    display: inline;
}

/* CONTENU DE LA PAGE */
/* INTRODUCTION */
h3::before {
    content:  "«";
    color : grey;
    /* width:90%; */
}

h3 {
    font-weight: bold;
    font-size: 1.5em;
    /* clear: both; */
    text-align: center;
}

h3::after {
    content:  "»";
    color : grey;
}

section {
    text-align: center;
    padding-bottom: 20px;
}

p {
    margin-bottom: 6; 
}
/* Pour  faire un retrait de 1ère ligne */
/* dans les introductions des séances : */
p + p {
    text-indent: 1.5em;
    margin-top: 0;
}

section.intro {
	font-size: 1.2em; 
    text-align : justify;
    line-height: 1.75em;
	width : 80%;
	margin : auto;
}

/* COURS */
.slide {
    width:100%;
    height:800px;
    overflow:visible;
    text-align: center;
    margin: 00px auto;
}

#MMs {
	display : flex;
	flex-wrap : wrap;
	justify-content : center;
}

.MM  {
	margin : 30px;
	display : inline-block;
	background : white;
    padding-bottom : 5px;
    border: 0px black solid;
	border-radius : 10px;
    overflow : hidden;
    box-shadow:  9px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.MM ul {
    text-align: center;
    font-size: 2em;
} 

/* span .titre {
    text-align: center;
    justify-content: center;
} */

.picture {
    /* width:400px; */
    height : auto;
}

iframe {
    justify-content : center;
    width : 90%; 
    height : 90%;
	display : block;
	margin : auto;
	border-radius : 5px;
	box-shadow : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

* {
	box-sizing: border-box;
}

/* PARTIE CONTACTEZ-MOI */
#contact {
	width : 80%;
    margin : auto;
    display: block;
    border : 2px black solid;
    border-radius: 15px;
    padding : 30px;
    margin-bottom : 50px;
    box-shadow: 5px 5px 5px grey; 
    background-image: radial-gradient(circle at 61.19% 8.26%, #ffffff 0, #becae5 50%, #5e7bad 100%);
}

#picture-project img {
	width: 90%;
}

/* FOOTER */
footer {
    background-color: #1d1d1d;
    color : white;
    text-align: center;
	 padding : 15px;
}

/* MEDIA QUERIES */
@media all and (max-width : 1000px){
    header h2 {width : 90%;}
    header h2 {width : 90%;}
    h3 {width : 95%; font-size : 1.2em;}
    .contener {width : 85%; margin : auto;}
    .intro {width : 80%; margin: 10px auto;}
    .introa {width : 90%; margin: 10px auto;}
    .bienvenue {width : 90%}
    .picture-project h3 {width: 100%; padding : 0% 15%; font-size: 1.2em; text-align: center; }
}
